# Auth
SECRET_KEY="your_secret_key_here"
ALGORITHM="HS256"
TOKEN_EXP_SECONDS=86400

# Database Configuration
# DATABASE_TYPE can be 'sqlite' or 'postgres'
DATABASE_TYPE=postgres
PGHOST=db
PGPORT=5432
PGDATABASE=musique
PGUSER=postgres
PGPASSWORD=postgres

# Discogs API
DISCOGS_TOKEN="your_discogs_token"
DISCOGS_USER_AGENT="YourApp/1.0"

# SMTP (Optional)
SMTP_HOST=mailserver
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@musique.local
